td {
    padding: 5px;
    letter-spacing: 1px;
    text-align: center;
}

th {
    background: rgb(122, 175, 241);
    color: #f4e5f0;
    border: 3px solid rgb(122, 175, 241);
    letter-spacing: 2px;
}

tbody tr:nth-child(odd) {
    background: #f4e5f0;
}

tbody tr:nth-child(even) {
    background: #bab6b9;
}

.transactionHistory {
    width: 620px;
    font-size: 30px;
    padding: 5px;
    border: solid #cccccc;
}



